<div class="row">
  <article>
    <header>
      <h1><%= @project.title %></h1>
    </header>
    <aside><%= @project.intro %></aside>
    <p><%= @project.extended %></p>
    <footer>
      <p>Conjured by: <%= @project.author %></p>
    </footer>  
  </article>
</div>
<div class="row">
  <%= link_to 'Projects', projects_path %>
</div>